<h3>Scroll example</h3>
<table>
  <tbody>
    <tr>
      <td>scrollLeft</td>
      <td class="scroll-left monospace">{{round-float windoc.scrollLeft}}</td>
      <td class="delimeter center-align">,</td>
      <td>scrollRight</td>
      <td class="scroll-right monospace">{{round-float windoc.scrollRight}}</td>
    </tr>

    <tr>
      <td>scrollTop</td>
      <td class="scroll-top monospace">{{round-float windoc.scrollTop}}</td>
      <td class="delimeter center-align">,</td>
      <td>scrollBottom</td>
      <td class="scroll-bottom monospace">{{round-float windoc.scrollBottom}}</td>
    </tr>

    <tr>
      <td>scrollHeight</td>
      <td class="scroll-height monospace">{{round-float windoc.scrollHeight}}</td>
      <td class="delimeter center-align">,</td>
      <td>scrollWidth</td>
      <td class="scroll-width monospace">{{round-float windoc.scrollWidth}}</td>
    </tr>

    <tr>
      <td>clientHeight</td>
      <td class="client-height monospace">{{round-float windoc.clientHeight}}</td>
      <td class="delimeter center-align">,</td>
      <td>clientWidth</td>
      <td class="client-width monospace">{{round-float windoc.clientWidth}}</td>
    </tr>

    <tr>
      <td>scrollHRatio</td>
      <td class="monospace">{{round-float windoc.scrollHRatio}}</td>
      <td class="delimeter center-align">,</td>
      <td>scrollVRatio</td>
      <td class="monospace">{{round-float windoc.scrollVRatio}}</td>
    </tr>
  </tbody>
</table>
